.presentationContainer {
  display: flex;
  height: calc(100vh - 8rem);
  padding: 3rem;

  @media (max-width: 600px) {
    flex-direction: column;
    height: max-content;
  }

  .infoContainer {
    width: 60vw;

    @media (max-width: 600px) {
      width: 100%;
    }

    h1 {
      font-size: 6rem;
      font-weight: bold;
      margin-bottom: 2rem;

      @media (max-width: 600px) {
        font-size: 4rem;
      }
    }

    p {
      font-size: 2rem;
      color: #333;
      margin-bottom: 8rem;

      @media (max-width: 600px) {
        margin-bottom: 4rem;
      }
    }

    .storeAppsContainer {
      display: flex;
      align-items: center;
      margin-bottom: 5rem;

      img {
        width: 15rem;
        cursor: pointer;

        &:first-child {
          margin-right: 1rem;
        }
      }
    }
  }

  .usersInfo {
    position: absolute;
    bottom: 10;

    h1 {
      font-size: 4rem;
      color: #1f1efb;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.6rem;
      color: #333;
    }
  }

  .appMockupContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;

    img {
      width: 40rem;
    }

    @media (max-width: 600px) {
      width: 100%;
      margin-top: 5rem;
    }
  }
}
